# Caddyfile
# Mengizinkan akses HTTP biasa (port 80) dan HTTPS dengan sertifikat internal (port 443)
{
    auto_https disable_redirects
}

http://202.155.13.129, :80 {
    reverse_proxy app:80
}

https://202.155.13.129, :443 {
    tls internal
    reverse_proxy app:80
}
